# === PYTHON ===
__pycache__
*.sqlite3
apiCredentials.py
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
.env
# .env.local
# .env.*.local
# *.egg-info/
# dist/
# build/
.pytest_cache/
.mypy_cache/
*.ipynb_checkpoints